<div class="container">
  <div class="container-home">
    <h1>Planr</h1>

    <form id="new-user-form" class="form-inline">
      <div class="row center">
          <div class="input-group">
            <div class="input-group-btn">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span id="user-type-status">Student</span> <span class="caret"></span></button>
              <ul id="select-user-type" class="dropdown-menu">
                <li><a href="#" data-action="/student">Student</a></li>
                <li><a href="#" data-action="/teacher">Teacher</a></li>
              </ul>
            </div><!-- /btn-group -->
            <input type="text" class="form-control" placeholder="username">
          </div><!-- /input-group -->
          <div class="input-group pw">
            <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
            <input type="text" class="form-control" placeholder="password">
            <span class="input-group-btn">
            <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-arrow-right"></button>
            </span>
          </div>
      </div><!-- /.row -->
    </form>
  </div>
</div>