// Place all the styles related to the lessons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#add_new_pad {
  padding: 10px;
  width: 300px;
  display: inline-block;
}

h2 {
  font-size: 18rem;
}
