// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container-home {
  text-align: center;
  color: white;
  margin: 0 auto;
  margin-top: 10rem;
}

.container-home h1 {
  font-size: 18rem;
}

.container-home form {
  margin-top: 1rem;
  border-radius: 10px; 
}

.pw {
  margin-left: 0.5rem;
}