// Place all the styles related to the students controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.actions {
  opacity: 0;
}

.student-padding {
  padding-left: 5px;
}

.student-pw {
  margin-left: 5px;
}