<div class="container">
<div class="container-home" id="topic-container">
<div class="topic-name"><%=@lesson.topic %></div>
<div class="topic-date"><%=@lesson.date %></div>
</div>
</div>

<% @concepts.where(:lesson_id => params[:id]).map do |c| %>
  <form action="/concepts/vote/<%= c.id %>" method="post">  
  
  <input type="submit" value="<%= c.bullet %>" class="button-vote">
  </form>

<%end%>

